/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* The *:focus rule is reset and suppresses link outlining. You _must_ remember to redefine your own outline, as it’s an important accessibility aid. E.g. *:focus   outline: #ccc dotted medium */
body { background-color: black; color: #eeeeee; font-family: Verdana, Arial; font-size: 13pt; }

#wrap { width: 800px; margin: 0px auto; margin-bottom: 60px; background: url("../images/logo.jpg") no-repeat top center; }
#wrap #content { background: black url("../images/logo-bottom.jpg") no-repeat top center; border: 1px solid; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-color: #1b63ba; font-size: 0.81em; }
#wrap #content .inner { padding: 48px; padding-top: 24px; padding-right: 128px; -moz-border-radius: 15px; -webkit-border-radius: 15px; background: transparent url("../images/bg-corner.png") no-repeat top right; }

p { padding: 6px 0px; }

ul, ol { list-style: square; padding: 6px 12px; }
ul li, ol li { padding: 6px 0px; }

.embedded_video { margin: 0px auto; width: 600px; }

a { color: #1b63ba; text-decoration: none; }

h1 { margin: 0px; height: 200px; }
h1 span { visibility: hidden; }

h2 { font-size: 13pt; margin: 10px; margin-left: 0; margin-bottom: 0px; text-align: left; }

h3 { font-weight: bold; padding-top: 12px; }

#footer { margin-top: 19px; }
#footer #navigation { border: 1px solid; border-color: #1b63ba; background: black url(../images/button.jpg) no-repeat top right; padding: 12px; -moz-border-radius: 15px; -webkit-border-radius: 15px; }
#footer #navigation a { color: #1b63ba; font-weight: bold; }
#footer #navigation a:hover { color: white; }
#footer #navigation a.active { color: white; }
#footer #navigation ul { list-style-image: none; list-style-position: outside; list-style-type: none; overflow: auto; text-align: center; text-align: left; padding-right: 48px; }
#footer #navigation ul li { display: inline-block; }
#footer #navigation ul li { padding: 6px 12px; }
#footer #license { margin: 48px auto; width: 500px; font-size: 0.63em; color: grey; }
